importFrom (Rcpp, "evalCpp")
importFrom (RcppParallel, "RcppParallelLibs", "setThreadOptions", "defaultNumThreads")
export (testfn)

useDynLib (leaktest)
## DEBUGGING ONLY (cpp functions not documented)
exportPattern("*cpp")
